#home-container {

  background-color: $primary-color-white;
  color: $primary-color-white;

  #home-body {
    padding-top: 10px;

    .card {
      margin: 20px;
      background-color: $primary-color-dark;
    }

    .spacer {
      height: 10px;
    }

    a {
      color: $primary-color-dark;
    }

    a:hover {
      background-color: $primary-color-white;
    }
  }
}
