nav {
  .nav-wrapper {
    width: 100vw;
    background-color: $primary-color-accent;

    #nav-brand-logo {
      color: white;
      font-family: 'Pacifico', cursive;
      text-shadow: 2px 2px 5px #333;
      font-size: 200%;
    }

    #course-search {
      width: 400px;
      display: inline-block;
      margin: 0 20px;
    }

    .angucomplete-dropdown {
      overflow-y: auto;
      max-height: 200px;
      width: 100%;
    }

    .angucomplete-row {
      line-height: 20px;
    }

    .angucomplete-selected-row {
      background-color: $secondary-color;
    }
  }
}
