
#session-container {

  #preloader
  {
    margin-top: 10%;
    width: 100%;
    height: 100%;

    #loading-message {
      font-size: 36px;
      font-weight: 300;
      margin: auto;
    }

    #preloader-content {
      margin: auto;
    }
  }


  .tabs {
     background: none;

    .tab-button {
      color: $secondary-color;
      text-transform: none;
      cursor: pointer;
      font-size: 1.2em;
    }

    .indicator {
        background-color: $secondary-color;
    }
  }

  .thin-text {
    font-weight: 300;
  }

  .demo-img {
    max-width: 200px;
  }

  #session-header {
    font-weight: 300;

    h4 {
      margin-bottom: 0;
    }

    #session-header-button {
      padding: 0;
      height: 100%;
      position: relative;
    }

    .view-selector {
      padding-top: 10px;
    }
  }

  .feeds {

    position: relative;

    .col {
      padding: 0;
      margin: auto;
    }

    .card-panel {

      background-color: $primary-color-light;
      margin:10px;

      .card-panel-header {
        .card-panel-header-button {
          border: none;
          background: none;
          color: white;
          font-size: 10%;
          cursor: pointer;
        }

        .print-button:hover {
          color: #bdc3c7;
        }

        .toggle-flag-button-active {
          color: color("red", "accent-2");
        }

      }
    }

    #stash-view, #feed-view {
      margin: 0 -12px;
      padding: 0 12px;
      height: 80vh;
      overflow: auto;

      .snippet-card {
        margin: 15px auto;
        overflow-y: hidden;

        .you-posted {
          color: $secondary-color;
        }

        &.expanded-snippet {
          //max-height: 1000px
          max-height: none;
          // -webkit-transition: linear 1.0s;
          // transition: linear 1.0s;
        }

        &.collapsed-snippet {
          max-height: 250px;
          // -webkit-transition: linear 1.0s;
          // transition: linear 1.0s;
        }

        .snippet-button {
          border: none;
          background: none;
          color: grey;
          font-size: 75%;
        }

        .save-button-active, .save-button-animate  {
          color: color("amber", "lighten-2");
        }
        .flag-button:enabled:hover, .flag-button-active, .flag-button-animate {
          color: color("red", "accent-2");
        }
      }
    }
  }

  #sticky-submit-spacer {
    height: 210px;
  }

  #sticky-submit-spacer-small {
    height: 30px;
  }

  #sticky-submit {
     width: 100%;
     position: fixed;
     left: 0;
     bottom : 0;
     z-index: 150;

    #snippet-input-container {
      padding: 5px 10px;
    }

    #toggle-preview-button {
      margin-bottom: 5px;
    }

    #submit-header {
      .expand-button-submit {
        border: none;
        background: none;
        color: white;
        font-size: 10%;
        margin: auto;
      }

      .expand-button-submit-text {
        font-size: 16px;
        display: inline;
      }

    }
    .submit-area {
      height: 150px;
      background-color: white;
      -webkit-transition: all 1.0s;
      transition: all 1.0s;
    }

    #snippet-input-area {
      width: 100%;
      height: 100%;
      border: none;
      resize: none;
      margin: auto;
      border: none;
      overflow: auto;
      outline: none;
      border-radius: 2px;
      padding: 10px;
      z-index: 1;
    }

    .hide-submit {
      height: 0;
      margin: 0;
    }

    #snippet-preview {
      padding: 10px;
      width: 100%;
      height: 100%;
      overflow: auto;
    }

    #snippet-input-area:focus {
      box-shadow: 0 0 10px $secondary-color-dark;
    }

    #snippet-input-container {
      background-color: $secondary-color-light;
      margin: 0;
    }

    #submit-sidebar {
      right: 5px;
      bottom: 10px;
      position: absolute;

      #toggle-preview-button:hover {
        color: #bdc3c7;
      }
    }

    .show-sidebar {
      opacity: 1;
      -webkit-animation: pop-in 0.5s;
      animation: pop-in 0.5s;
    }

    .hide-sidebar {
      opacity: 0;
      -webkit-animation: pop-out 0.5s;
      animation: pop-out 0.5s;
    }

  }

}

@-webkit-keyframes pop-in {
  0% { opacity: 0; -webkit-transform: scale(0.5); }
  100% { opacity: 1; -webkit-transform: scale(1); }
}
@keyframes pop-in {
  0% { opacity: 0; transform: scale(0.5); }
  100% { opacity: 1; transform: scale(1); }
}

@-webkit-keyframes pop-out {
  0% { opacity: 1; -webkit-transform: scale(1); }
  100% { opacity: 0; -webkit-transform: scale(0.5); }
}
@keyframes pop-out {
  0% { opacity: 1; transform: scale(1); }
  100% { opacity: 0; transform: scale(0.5); }
}
