#stash-container {

  @media print {
    .print-button {
      visibility: hidden;
    }
  }

  .spacer {
    height: 50px;
  }

  .card {
    background-color: white;
    color: black;
  }

  #snippet-table {
    .author-column  {
      width: 10%;
      padding : 0;
      font-size: 18px;
      font-weight: 300;
    }

    .content-column {
      padding: 0;
    }
  }

  #stash-header {
    .stash-title {
      font-size: 36px;
      font-weight: 300;
    }

    .stash-time {
      font-size: 18px;
      font-weight: 300;
    }

    .print-button {
      background: none;
      border: none;
    }

    .print-button:hover {
      color: grey;
    }
  }

}
