@import "../lib/materialize/sass/components/color";

// Materialize variable overriding
$primary-color: color("indigo", "base") !default;
$primary-color-light: color("indigo", "lighten-2") !default;
$primary-color-white: color("indigo", "lighten-5") !default;
$primary-color-dark: color("indigo", "darken-2") !default;
$radio-fill-color: $primary-color-dark !default;

@import "../lib/materialize/sass/materialize";

@import "splash";
@import "home";
@import "profile";
@import "course";
@import "session";
@import "navbar";

.page-container {
  min-height: 100vh;
  background-color: $primary-color-white;
  color: $primary-color-white;
}

.content-container {
  margin: 0 40px;
  padding-top: 20px;
}

.row {
  margin-bottom: 0;
  padding-bottom: 20px;
}

.btn {
  background-color: $secondary-color;
}

.card,
.card-panel {
  color: white;
  background-color: color("indigo", "base");
}

a {
  color: $primary-color-dark;
}

.collection-item {
  color: $primary-color-dark !important;
}

.collection-item:hover {
  background-color: $primary-color-white;
}
