@import "../lib/materialize/sass/components/color";

// Materialize variable overriding
$primary-color: color("indigo", "base") !default;
$primary-color-light: color("indigo", "lighten-2") !default;
$primary-color-white: color("indigo", "lighten-5") !default;
$primary-color-dark: color("indigo", "darken-2") !default;
$radio-fill-color: $primary-color-dark !default;

@import "../lib/materialize/sass/materialize";

@import "splash";
@import "home";
@import "profile";
@import "course";
@import "session";
@import "navbar";

.page-container {
  min-height: 100vh;
}

.row {
  margin-bottom: 0;
  padding-bottom: 20px;
}
