<div id="course-container">

  <div id="header">
    <div id="header-background">
      <div id="title-container">
        <div id="title">
          Notably
        </div>
      </div>
    </div>
  </div>

  <div id="course-body">
    <div class="row">
      <div class="col s12 m6 l6">
        <div class="card">
          <div class="card-content">
            <span class="card-title"><b>{{ courseNumber }}</b></span>
            <div class="spacer"></div>
            courseNumber: {{ courseNumber }}
          </div>
        </div>
      </div>

      <div class="col s12 m6 l6">
        <div class="card">
          <div class="card-content">
            <span class="card-title">{{ courseNumber }}'s sessions</span>
            <div class="spacer"></div>
            <div class="collection">
              <a ng-repeat="session in sessions" href="#!" class="collection-item">{{ session.title }}<span class="badge">{{ session.count }}</span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
