<div id="course-container" class="page-container">

  <nav-bar></nav-bar>


  <div ng-show = "!loaded" id="preloader" class="center-align">
    <div id="preloader-content">
      <div class="preloader-wrapper big active">
        <div class="spinner-layer spinner-blue-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div><div class="gap-patch">
            <div class="circle"></div>
          </div><div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col content-container" ng-show="loaded">
    <div id="course-body">
      <div class="row">
        <div class="col s12 m6 l6">
          <div class="card" id="course-info">
            <div class="card-content">
              <span class="card-title card-main">{{ course.meta.number }} - {{ course.meta.name }}</span> <br>
              <em>{{ course.meta.location }}, {{ course.meta.lectureTime }}</em><br>
              <p>{{ course.meta.description }}</p><br>
              <button ng-if="!subscribed" class="waves-effect waves-light btn" id="subscribe-button" ng-click="subscribe(course.meta.number)">Subscribe</button>
              <button ng-if="subscribed" class="waves-effect waves-light btn" id="unsubscribe-button" ng-click="unsubscribe(course.meta.number)">Unsubscribe</button>
            </div>
          </div>

          <div class="card">
            <div class="card-content">
            <span class="card-title card-main">Create a new session for {{ course.meta.number }}</span>
            <form ng-submit="createSession()">
              <div class="input-field">
                <input id="newTitle" ng-model="newTitle" type="text" class="validate black-text" required>
                <label for="newTitle">Title</label>
                <button type="submit" class="waves-effect waves-light btn right-align" id="create-session-button">Create Session</button>
              </div>
            </form>
            </div>
          </div>

        </div>

        <div class="col s12 m6 l6">

          <div class="card card-primary" id="session-card">
            <div class="card-content">
              <span class="card-title">{{ course.meta.number }}'s sessions</span>
              <div class="spacer"></div>
              <em ng-if="course.sessions.length === 0 || !course.sessions"> This course has no sessions yet! </em>
              <div class="collection" ng-if="course.sessions.length > 0">
                <a ng-repeat="session in course.sessions" href="/session/{{ session._id }}" class="collection-item">
                  <div class="row">
                    <div class="col s12 m6 l9 truncate">
                    {{ session.title }}
                    </div>
                    <div class="col s12 m6 l3 session-info">
                    <span id="badge-{{session._id}}">{{session.createdAt | amCalendar}} <i class="material-icons">supervisor_account</i> {{ occupancy[session._id].length || 0 }}</span>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- a modal if a recent session was created  -->

  <div id="new-session-modal" class="modal">
     <div class="modal-content">
       <h4>Wait up!</h4>
       The session <b id="latest-session">{{latestSession.title}}</b> was created <b am-time-ago="latestSessionTime"></b>. Would you rather join this one, or make a new session?
     </div>
     <div class="modal-footer">
       <a href="#!" class="modal-action modal-close waves-effect btn-flat red-text">Cancel</a>
       <a ng-href="/session/{{ latestSession._id }}" class="modal-action modal-close waves-effect btn-flat blue-text">Join This Session</a>
       <a ng-click="createNewSession()" class="modal-action modal-close waves-effect btn-flat orange-text">Create Anyways</a>
     </div>
   </div>


</div>
