<div id="course-container" class="page-container">

  <nav-bar></nav-bar>

  <div class="col content-container">
    <div id="course-body">
      <div class="row">
        <div class="col s12 m6 l6">
          <div class="card">
            <div class="card-content">
              <span class="card-title"><b>{{ course.meta.number }} - {{ course.meta.name }}</b></span>
              <p>{{ course.meta.location }}, {{ course.meta.lectureTime }}</p><br>
              <p>{{ course.meta.description }}</p><br>
              <button class="waves-effect waves-light btn" id="subscribe-button">Subscribe</button>
            </div>
          </div>
        </div>

        <div class="col s12 m6 l6">

          <div class="card">
            <div class="card-content">
            <span class="card-title">Create a new session for {{ course.meta.number }}</span>
            <form ng-submit="createSession()">
              <div class="input-field">
                <input id="newTitle" ng-model="newTitle" type="text" class="validate white-text" required>
                <label for="newTitle">Title</label>
                <button type="submit" class="waves-effect waves-light btn right-align" id="create-session-button">Create Session</button>
              </div>
            </form>
            </div>
          </div>

          <div class="card">
            <div class="card-content">
              <span class="card-title">{{ course.meta.number }}'s sessions</span>
              <div class="spacer"></div>
              <div class="collection">
                <a ng-repeat="session in course.sessions" href="/session/{{ session._id }}" class="collection-item">{{ session.title }}<span class="badge">{{ occupancy[session._id] }}</span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
