<!DOCTYPE html>
<html ng-app="notablyApp">

    <head>
        <meta charset="utf-8">
        <title>Notably</title>
        <link rel="stylesheet" href="http://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
        <script src="http://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
        <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>

        <!-- Compiled and minified CSS -->
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
       <!-- Compiled and minified JavaScript -->
       <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>

      <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>

    <style>
      body {
        height: 100vh;
        background-image: url('stata.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
      }
    </style>

    </head>

    <body>

    <div style = "height: 150px"></div>

    <div style = "font-family: 'Pacifico', cursive; font-size: 170px; color: white; text-align: center;">
      Notably
    </div>

    <div style = "margin-top: 40px;" class = "center-align" >
    <button class="waves-effect waves-light btn btn-large purple lighten-2" style = "font-size: 30px;  text-transform: none">Log In</button>
    </div>
    </body>

</html>
