<div id="home-container">

  <div class="row">
    <div class="col s12">
      <p>Welcome, {{username}}</p>
    </div>
    <div class="col s2">
      <table>
        <th>My Classes</th>
        <tr ng-repeat="class in classes">
          <td>{{class}}</td>
        </tr>
      </table>
    </div>

    <div class="col s4">
      <table>
        <th>Today's Schedule</th>
        <tr ng-repeat="slot in schedule">
          <td>{{slot.time + " " + slot.course + " " + slot.location}}</td>
        </tr>
      </table>
    </div>

    <div class="col s6">
      <table>
        <th>Recent Stashes</th>
        <tr ng-repeat="stash in stashes">
          <td>{{stash.course + " - " + stash.session}}</td>
        </tr>
      </table>
    </div>
  </div>

</div>
