<!DOCTYPE html>
<html ng-app="notablyApp">

  <head>
    <meta charset="utf-8">
    <title>Notably</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="/assets/img/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/assets/img/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/img/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/img/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/img/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/img/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/img/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/img/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/assets/img/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/assets/img/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/assets/img/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/assets/img/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- stylesheets -->
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/assets/lib/materialize/css/materialize.min.css">
    <link rel="stylesheet" href="/assets/lib/simplemde/simplemde.min.css">
    <link rel="stylesheet" href="/assets/lib/angucomplete-alt/angucomplete-alt.css">
    <link rel="stylesheet" href="/assets/css/style.css">

  </head>

  <body>
    <div ng-view></div>
  </body>

   <!--  angular -->
  <script src="/assets/lib/angular/angular.min.js"></script>
  <script src="/assets/lib/angular/angular-route.min.js"></script>
  <script src="/assets/lib/momentjs/moment.min.js"></script>

  <script src="/assets/lib/angular/angular-moment.min.js"></script>
  <script src="/assets/lib/angular/angular-scrollglue.js"></script>
  <script src="/assets/lib/angular/angular-sanitize.min.js"></script>

  <script src="/assets/lib/fittext/fittext.js"></script>
  <script src="/assets/lib/epiceditor/js/epiceditor.min.js"></script>

  <!-- js libararies -->
  <script src="/assets/lib/jquery/jquery-2.1.4.min.js"></script>
  <script src="/assets/lib/simplemde/simplemde.min.js"></script>
  <script src="/assets/lib/materialize/js/bin/materialize.min.js"></script>
  <script src="/assets/lib/angucomplete-alt/angucomplete-alt.min.js"></script>

  <!-- app -->
  <script src="/assets/js/notably-app.js"></script>
  <script src="/assets/js/splash-controller.js"></script>
  <script src="/assets/js/home-controller.js"></script>
  <script src="/assets/js/profile-controller.js"></script>
  <script src="/assets/js/session-controller.js"></script>
  <script src="/assets/js/course-controller.js"></script>
  <script src="/assets/js/stash-controller.js"></script>
  <script src="/assets/js/nav-controller.js"></script>

</html>
