<nav ng-hide="splash">
  <div class="nav-wrapper">
    <a href="/home" id="nav-brand-logo" class="hide-on-small-and-down">Notably</a>
    <a href="/home" id="nav-brand-logo" class="hide-on-med-and-up">N</a>
    <div angucomplete-alt id="course-search"
      placeholder="Search courses"
      pause="100"
      selected-object="selectedCourse"
      local-data="courses"
      search-fields="number,name"
      title-field="number,name"
      minlength="1"
      input-class="form-control form-control-small"
      match-class="highlight"
      clear-selected="true">
    </div>
    <a href="#" data-activates="mobile-nav" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="/profile/{{navuser}}">{{navuser}}</a></li>
      <li><a href="" ng-click="logout()">Log out</a></li>
    </ul>
    <ul class="side-nav" id="mobile-nav">
      <li><a href="/profile/{{navuser}}">{{navuser}}</a></li>
      <li><a href="" ng-click="logout()">Log out</a></li>
    </ul>
  </div>
</nav>
