<div id="profile-container">

  <nav-bar></nav-bar>

  <div id="profile-body">
    <div class="row">
      <div class="col s12 m6 l6">
        <div class="card">
          <div class="card-content">
            <span class="card-title"><b>{{ username }}</b></span>
            <div class="spacer"></div>
            username: {{ username }}
          </div>
        </div>
      </div>

      <div class="col s12 m6 l6">
        <div class="card">
          <div class="card-content">
            <span class="card-title">{{ username }}'s stashes</span>
            <div class="spacer"></div>
            <div class="collection">
              <a ng-repeat="stash in stashes" href="#!" class="collection-item">{{ stash.title }}<span class="badge">{{ stash.count }}</span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
