<div id="profile-container" class="page-container">

  <nav-bar></nav-bar>

  <div class="col content-container">

    <div id="profile-body">
      <div class="row">
        <div class="col s12 m6 l6">
          <div class="card">
            <div class="card-content">
              <span class="card-title card-main">{{ user.name }}</span>
              <p>Username: {{ user.username }}</p>
              <p>Snippets submitted: {{ user.stats.numSubmitted }}</p>
              <p>Snippets saved: {{ user.stats.numSaved }}</p>
              <p>Subscribed classes: {{ user.stats.numSubscribed }}</p>
            </div>
          </div>
        </div>

        <div class="col s12 m6 l6">
          <div class="card card-primary">
            <div class="card-content">
              <span class="card-title">{{ user.name }}'s courses</span>
              <em ng-if="user.courses.length === 0">{{ user.name }} has not subscribed to any courses!</em>
              <div ng-if="user.courses.length !== 0" class="collection">
                <a ng-repeat="course in user.courses" href="/course/{{ course.number }}" class="collection-item">{{ course.number }} - {{ course.name }}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
