
<div id="session-container">

  <div id="header">
    <div id="header-background">
      <div id="title-container">
        <div id="title">
          Notably
        </div>
      </div>
    </div>
  </div>

    <div class="row" id="session-header">
      <div> Session {{sessionId}} </div>
    </div>

  <div style="text-align:center">
    <input name="display" type="radio" id="left_option" ng-model="showOption" value="left" />
    <label for="left_option">Feed</label>
    <input name="display" type="radio" id="both_option"  ng-model="showOption" value="both" />
    <label for="both_option">Both</label>
    <input name="display" type="radio" id="right_option"  ng-model="showOption" value="right" />
    <label for="right_option">Stash</label>
  </div>
  <br/>

    <div class="row" style="height:auto">
        <div ng-class="{true: 's6', false: 's12'}[showOption === 'both']" class="col" ng-hide="showOption === 'right'" >
        <div id="feed-view" style="width:90%;margin:auto">
        <div class="row" id="feed-header">
          <div> Your feed </div>
        </div>

          <div ng-repeat="snip in snippets" class="snippet-container">

              <div class="snippet-header">
                <div style="float:left">
                  <b>{{snip.creator}}</b> posted <em>1 minute ago</em>
                </div>
                <div style="float:right">
                  <button class="center-align remove-button"><i class="material-icons">cancel</i></button>
                </div>
              </div>

              <br/>
              <hr style="color:grey; margin-top:5px">

              <div class="snippet-content" >
                {{snip.content}} <br/>
              </div>

              <hr style="color:grey">

              <div class="snippet-footer right-align">
                <button class="center-align save-button"><i class="material-icons">star</i></button>
                {{snip.saves}}
                <button class="center-align flag-button"><i class="material-icons">flag</i></button>
                {{snip.flags}}
             </div>

        </div>
        </div>
        </div>
        <div ng-class="{true: 's6', false: 's12'}[showOption === 'both']" class="col" ng-hide="showOption === 'left'">
          <div id="stash-view" style="width:90%;margin:auto">
          <div class="row" id="stash-header">
            <div> Your Stash </div>
          </div>

          <div ng-repeat="snip in snippets" class="snippet-container">

              <div class="snippet-header">
                <div style="float:left">
                  <b>{{snip.creator}}</b> posted <em>1 minute ago</em>
                </div>
                <div style="float:right">
                  <button class="center-align remove-button"><i class="material-icons">cancel</i></button>
                </div>
              </div>
              <br/>
              <hr style="color:grey; margin-top:5px">

              <div class="snippet-content">
                {{snip.content}} <br/>
              </div>

              <hr style="color:grey">

              <div class="snippet-footer right-align">
                <button class="center-align save-button"><i class="material-icons">star</i></button>
                {{snip.saves}}
                <button class="center-align flag-button"><i class="material-icons">flag</i></button>
                {{snip.flags}}
             </div>

        </div>
      </div>
      </div>
    </div>

    <div class="row" style="bottom:0;height:200px">
      <div style="width:90%;margin:auto">
        <textarea id = "MyID">  </textarea>
      </div>
    </div>

</div>
