<div id="session-container">

  <nav-bar></nav-bar>

    <div class="row" id="session-header">
      <div id="session-header-container">
      <div style="float:left" ng-if="!stash"> Session {{sessionId}} </div>
      <div style="float:left" ng-if="stash"> Session {{session.meta.title}} </div>

      <div style="float:right">
        <input name="display" type="radio" id="left_option" ng-model="showOption" value="left" />
        <label for="left_option">Feed</label>
        <input name="display" type="radio" id="both_option"  ng-model="showOption" value="both" />
        <label for="both_option">Both</label>
        <input name="display" type="radio" id="right_option"  ng-model="showOption" value="right" />
        <label for="right_option">Stash</label>
      </div>

    </div>
    </div>

    <div class="row">
        <div ng-class="{true: 's6', false: 's12'}[showOption === 'both']" class="col" ng-hide="showOption === 'right'" >
        <div id="feed-view" class="card-panel">
        <br/>
        <div class="row" id="feed-header" class="thin-header">
          <div class="thin-header"> Your Feed </div>
        </div>

        <div class="thin-header" ng-if="!stash || stash.length === 0"> Nothing posted here yet! </div>

          <div ng-repeat="snip in feed" >
            <div class="card snippet-card snippet-container"  style="margin-top:5px;">
              <div class="card-content white-text">

                <div class="snippet-header">
                  <div style="float:left" class="black-text">
                    <b>{{snip.author}}</b> posted <em>1 minute ago</em>
                  </div>
                </div>
                 <br/>
                <p class="black-text" style="margin-top:5px">{{snip.text}}</p>

              </div>
              <div class="card-action right-align" style="padding:5px">
                <button class="center-align save-button" ng-click="saveSnippet(snip.id)"><i class="material-icons">star</i></button>
                {{snip.saveCount}}
                <button class="center-align flag-button" ng-click="flagSnippet(snip.id)"><i class="material-icons">flag</i></button>
                {{snip.flags}}
              </div>
            </div>
        </div>

        </div>
        </div>
        <div ng-class="{true: 's6', false: 's12'}[showOption === 'both']" class="col" ng-hide="showOption === 'left'">
          <div id="stash-view" class="card-panel">
          <br/>
          <div class="row" id="stash-header">
            <div class="thin-header"> Your Stash </div>
          </div>


          <div class="thin-header" ng-if="!stash || stash.length === 0"> Nothing posted here yet! </div>

          <div ng-repeat="snip in stash" >
            <div class="card snippet-card snippet-container"  style="margin-top:5px;">
              <div class="card-content white-text">

                <div class="snippet-header">
                  <div style="float:left" class="black-text">
                    <b>{{snip.author}}</b> posted <em>1 minute ago</em>
                  </div>
                  <div style="float:right">
                    <button class="center-align remove-button" ng-click="removeSnippet(snip.id)"><i class="material-icons">cancel</i></button>
                  </div>
                </div>
                 <br/>
                <p class="black-text" style="margin-top:5px">{{snip.text}}</p>

              </div>
              <div class="card-action right-align" style="padding:5px">
                <button class="center-align save-button" ng-click="saveSnippet(snip.id)"><i class="material-icons">star</i></button>
                {{snip.saveCount}}
                <button class="center-align flag-button" ng-click="flagSnippet(snip.id)"><i class="material-icons">flag</i></button>
                {{snip.flags}}
              </div>
            </div>
        </div>

      </div>
      </div>
    </div>

    <div class="row">
      <div class="card-panel" id="snippet-input-container">
        <div class="spacer"></div>
        <div class="white-text thin-header">Submit a snippet here: </div>
        <div style="margin:10px" class="center-align">
        <form ng-submit="addSnippet()">
          <textarea id = "snippet-input-area" class="materialize-textarea" ng-model="snippetInput"  ng-disabled="!stash" required> </textarea>
          <button class="waves-effect waves-light btn center-align" id="submit-snippet" ng-disabled="!stash" type="submit">Submit Snippet</button>
        </form>
        </div>
      </div>
    </div>

</div>
