<div id="splash-container">
  <div id="splash-background">

    <div id="title-container">
      <div class="row">
        <div class="col s1 m2 l3">&nbsp;</div>

        <div class="col s10 m8 l6">
          <h1 id="title" data-fittext>Notably</h1>
        </div>

        <div class="col s1 m2 l3">&nbsp;</div>
      </div>
    </div>

    <div id="button-container" class="center-align" >
      <button class="waves-effect waves-light btn btn-large" id="splash-button" ng-click="login()">Log In</button>
    </div>

  </div>
</div>
